$control-height: em(35px);
$control-expand-width: em(250px);
$control-expand-height: em(35px);
$input-left: em(40px);
$input-top: em(4px);
$btn-search-width: em(25px);
$btn-search-top: em(2px);
$input-width: $control-expand-width - ($btn-search-width / 2);
$result-width: em(260px);
$result-max-height: em(300px);
$result-left: em(32px);
$container-top: .5em + ($control-height * 2);
$result-top: $control-height;

&.#{map-get($glass, container)} {
  position: absolute;
  top: $container-top;
  left: .5em;
  box-sizing: border-box;
  font-size: 0.9em;

  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
}
.#{map-get($glass, control)} {
  width: $control-height;
  height: $control-height;
  overflow: hidden;
  transition: width 200ms, height 200ms;
}
.#{map-get($glass, expanded)} {
  width: $control-expand-width;
  height: $control-expand-height;
}
.#{map-get($glass, input)} {
  position: absolute;
  z-index: $z-index;
  top: $input-top;
  left: $input-left;
  width: $input-width;
  padding: 5px;
  border: 1px solid #ccc;
  font-family: inherit;
  font-size: $font-medium;
  background-color: #fff;
  color: #222;

  &:focus {
    border: none;
    outline: none;
    box-shadow: inset 0 0 0 1px #4d90fe, inset 0 0 5px #4d90fe;
  }
}
.#{map-get($glass, reset)} {
  position: absolute;
  z-index: $z-index + 1;
  top: 0;
  right: 0;
  width: $btn-search-width;
  height: 100%;
  line-height: strip-unit($font-big * 1.5) - .1;
  border: none;
  background-color: transparent;
  display: inline-block;
  outline: 0;
  cursor: pointer;

  &::after {
    content: "\d7";
    display: inline-block;
    color: #333;
    font-size: $font-big * 1.5;
    cursor: pointer;
  }
}
.#{map-get($glass, button)} {
  position: absolute;
  width: $btn-search-width;
  height: $btn-search-width;
  top: $btn-search-top;
  left: $btn-search-top;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAPCAYAAAA71pVKAAABPUlEQVQoU41SwXHCQAzUHh58eoUOIBWEDkI6oAToIKkg7iAuwakgpAIowXRACcnrzp6BzchjMx4wE/S6kW5XK60gvQghzJIkmVoqSZI9gJ9+/fINS5Cc1HX9QXIlIr/tpwcRyb33b7cIGnAIYQdg4pxbjcfj0nJ1Xc+Px+PGObdN03Q9RIAQwgpAnqbp7FKmjQGgJLlU1d2V7BjjRkQO3vvXIXarkyxVNbsCm2QR2Q0V7XOMMReRmfd+OQQubN6hYgs22ZtbnRcAtiRfLueqqmpJ8ovko6oeBq0KIWQA3gFkzrlmMafTaUEyI/mpqmbhVTRWWbRdbClPbeobQNES5KPRqOxs7DBn8K1DsAOKMZYApiTXqlrcDe4d0XN7jWeCfzt351tVle2iGalTcBd4gGDvvZ/fDe4RmCOFLe8Pr7mvEP2N9PQAAAAASUVORK5CYII=');
  background-repeat: no-repeat;
  background-position: center center;
}

ul.#{map-get($glass, result)} {
  position: absolute;
  top: $result-top;
  left: $result-left;
  width: $result-width;
  max-height: $result-max-height;
  white-space: normal;
  list-style: none;
  padding: 0;
  margin: 0;

  background-color: white;
  border-radius: 4px;
  border-top: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  overflow-x: hidden;
  overflow-y: auto;
  box-shadow: 0 1px 7px rgba(0, 0, 0, 0.8);

  transition: max-height 300ms ease-in;

  > li {
    width: 100%;
    overflow: hidden;
    border-bottom: 1px solid #eee;
    padding: 0;
    @include line-height(14);

    > a {
      display: block;
      text-decoration: none;
      padding: 3px 5px;

      &:hover {
        background-color: rgb(212, 212, 212);
      }
    }
  }

  > li:nth-child(odd) {
    background-color: rgb(224, 255, 224);
  }
}

ul.#{map-get($glass, result)}:empty {
    display: none;
}
