$control-height: em(70px);
$icon: em(40px);
$container-width: em(400px);
$result-width: $container-width;
$result-max-height: em(300px);
$result-left: em(10px);
$result-top: $control-height + .2;

&.#{map-get($input-text, container)} {
  position: absolute;
  width: $container-width;
  height: $control-height;
  top: .5em;
  left: calc(50% - #{$container-width / 2});
  box-sizing: border-box;

  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
}
.#{map-get($input-text, control)} {
  position: relative;
  width: 100%;
  height: $control-height;
  border: 1px solid #ccc;
  background-color: #fff;
  overflow: hidden;
}
.#{map-get($input-text, input)} {
  position: absolute;
  z-index: $z-index;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 5px 30px 5px 40px;
  border: none;
  text-indent: 6px;
  background-color: transparent;
  font-family: inherit;
  font-size: $font-medium;

  &:focus {
    outline: none;
    box-shadow: inset 0 0 0 1px #4d90fe, inset 0 0 6px #4d90fe;
  }
}
.#{map-get($input-text, reset)} {
  position: absolute;
  z-index: $z-index + 1;
  top: 0;
  right: 0;
  width: $icon;
  height: 100%;
  line-height: 100%;
  border: none;
  background-color: transparent;
  display: inline-block;
  vertical-align: middle;
  outline: 0;
  cursor: pointer;

  &::after {
    content: "\d7";
    display: inline-block;
    color: #333;
    font-size: $font-big * 2;
    cursor: pointer;
  }
}

.#{map-get($input-text, icon)} {
  position: absolute;
  top: 0;
  left: 0;
  z-index: $z-index + 1;
  display: inline-block;
  width: $icon;
  height: 100%;
  background-size: $icon / 1.8;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 32 32'%3E%3Cpath fill='%23333' d='M29.156 29.961l-.709.709a2.006 2.006 0 0 1-2.838 0l-5.676-5.674c-.656-.658-.729-1.644-.281-2.412l-3.104-3.102a9.975 9.975 0 0 1-5.965 1.979C5.043 21.461.552 16.97.552 11.43S5.043 1.398 10.583 1.398c5.541 0 10.031 4.491 10.031 10.032 0 2.579-.98 4.923-2.58 6.7l3.035 3.035c.768-.447 1.754-.375 2.41.283l5.676 5.674c.784.785.784 2.056.001 2.839zM18.088 11.389c0-4.155-3.369-7.523-7.524-7.523a7.523 7.523 0 1 0-.001 15.046 7.525 7.525 0 0 0 7.525-7.523z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center center;
}
ul.#{map-get($input-text, result)} {
  position: absolute;
  top: $result-top;
  left: 0;
  width: $result-width;
  max-height: $result-max-height;
  white-space: normal;
  list-style: none;
  padding: 0;
  margin: 0;

  background-color: white;
  border-radius: 4px;
  border-top: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  overflow-x: hidden;
  overflow-y: auto;
  box-shadow: 0 1px 7px rgba(0, 0, 0, 0.8);

  transition: max-height 300ms ease-in;

  > li {
    width: 100%;
    overflow: hidden;
    border-bottom: 1px solid #eee;
    padding: 0;
    @include line-height(14);

    > a {
      display: block;
      text-decoration: none;
      padding: 3px 5px;

      &:hover {
        background-color: rgb(212, 212, 212);
      }
    }
  }

  > li:nth-child(odd) {
    background-color: rgb(224, 255, 224);
  }
}

ul.#{map-get($input-text, result)}:empty {
    display: none;
}
