@import "../../konstants/vars.json";
@import "partials/functions";
@import "partials/mixins";

$base-font-size: 16px;
$font-big: em(16px);
$font-medium: em(14px);
$font-small: em(12px);
$z-index: 99;
$font-color: #333;

$olControl: map-get($cssClasses, olControl);
$glass: map-get($cssClasses, glass);
$input-text: map-get($cssClasses, inputText);

.ol-touch .#{$olControl}.#{map-get($glass, control)} button {
  font-size: 1.14em;
}

.ol-touch .#{map-get($cssClasses, namespace)}.#{map-get($glass, container)} {
  font-size: 1.1em;
}

.#{map-get($cssClasses, namespace)} {
  @import "glass";
  @import "input-text";
  @import "common";
}

.#{map-get($cssClasses, address)} {
  font-size: $font-medium;
  font-weight: 500;
  color: $font-color;
}

.#{map-get($cssClasses, road)} {
  font-size: $font-medium;
  font-weight: 500;
  color: $font-color;
}

.#{map-get($cssClasses, city)} {
  font-size: $font-small;
  font-weight: normal;
  color: $font-color;
}

.#{map-get($cssClasses, country)} {
  font-size: $font-small;
  font-weight: lighter;
  color: $font-color;
}