@import "../../config/vars.json";
@import "partials/functions";
@import "partials/mixins";

$base-font-size: 16px;
$font-big: em(16px);
$font-medium: em(14px);
$font-small: em(12px);
$z-index: 99;

$glass: map-get($cssClasses, glass);
$input-text: map-get($cssClasses, inputText);

.#{map-get($cssClasses, namespace)} {
  @import "glass";
  @import "input-text";
  @import "common";
}

.#{map-get($cssClasses, road)} {
  font-size: $font-medium;
  font-weight: 500;
  color: #000;
}
.#{map-get($cssClasses, city)} {
  font-size: $font-small;
  font-weight: normal;
  color: #000;
}
.#{map-get($cssClasses, country)} {
  font-size: $font-small;
  font-weight: lighter;
  color: #444;
}