html,
body {
  height: 100%;
  margin: 0;
}

#map {
  width: 100%;
  height: 50%;
}

body>#gcd-container,
body>#gcd-container .gcd-txt-result {
  position: static;
  margin: 30px auto;
}